/* Keyframes */
@keyframes parallax {
	from {
		transform: translateY(0)
	}
	to {
		transform: translateY(-100vh);
	}
}
@function multiple-box-shadows($stars, $size, $color){
	$box-shadow: random(100)+'vw ' + random(100)+'vh ' + $color;
	@for $i from 1 through $stars {
		 $box-shadow: $box-shadow + ', ' + random(100)+'vw ' + random(100)+'vh ' + $color;
	}
	@return unquote($box-shadow);
}
@mixin parallax-layer($stars, $size: 1px, $color: white, $easing: ease-in-out, $timer: 100s){
	$shadows: multiple-box-shadows($stars, $size, $color);
	position: absolute;
	top: 0;
	left: 0;
	width: $size;
	height: $size;
	background: transparent;
	pointer-events: none;
	box-shadow: $shadows;
	animation: parallax $timer $easing infinite;
	&:after {
		content: " ";
		position: absolute;
		width: 3px;
		height: 3px;
		top: 100vh;
		box-shadow: $shadows;
	}
}
.parallax-3 {
	@include parallax-layer(5, 3px, white, ease-in-out, 30s);
}
