@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css";
/* Coolors Exported Palette - coolors.co/190005-7a0f06-70798c-f5f1ed-dad2bc */
/* Animation */
/* Responsive Widths */
/* # Stars, each tier */
/* Font Family */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/* Flex stretch mix-ins */
@keyframes stardust {
  from {
    background-position: 0px 0px;
    transform: translateY(0);
  }
  to {
    background-position: 0px -399px;
    transform: translateY(0);
  }
}

body {
  background: #190005;
  background: url("/assets/img/stardust.png") repeat;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  animation: stardust 15s linear infinite;
  animation-fill-mode: forwards;
}

.stars-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.2) 0%, rgba(9, 10, 15, 0.6) 80%, black 100%);
  z-index: 3;
}

.main-contents {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  text-shadow: 0px 0px 5px #000;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.input-button {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.box {
  position: relative;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 25px 5px transparent;
  background: url("/assets/img/container.png") repeat;
  opacity: 0.6;
  margin: 50px;
  padding: 50px;
  z-index: 5;
}

@media screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) {
  .box {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
}

@media screen and (min-height: 0px) and (max-height: 499px) and (orientation: landscape) {
  .box {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
}

@media screen and (min-width: 520px) and (max-width: 959px) and (orientation: portrait) {
  .box {
    border-radius: 1em;
    height: 500px;
    margin: 0 50px;
  }
}

@media screen and (min-height: 500px) and (max-width: 959px) and (orientation: landscape) {
  .box {
    border-radius: 1em;
    height: 500px;
    margin: 0 50px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) and (min-height: 600px) and (orientation: landscape) {
  .box {
    border-radius: 1em;
    min-height: 500px;
    margin: 0 50px;
    max-width: 85%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .box {
    border-radius: 1em;
    min-height: 500px;
    margin: 0 50px;
    max-width: 65%;
  }
}

@media screen and (min-width: 1600px) and (orientation: landscape) {
  .box {
    min-height: 500px;
    border-radius: 1em;
    max-width: 1200px;
  }
}

.box form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) {
  .box form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-height: 0px) and (max-height: 499px) and (orientation: landscape) {
  .box form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.box span.upload-icon {
  transition: all 0.3s cubic-bezier(1, -0.29, 0.83, 0.67);
  font-size: 20em;
  opacity: 0.8;
  margin: 25px;
}

@media screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) {
  .box span.upload-icon {
    opacity: 1;
    font-size: 10em;
  }
}

@media screen and (min-width: 520px) and (max-width: 959px) and (orientation: portrait) {
  .box span.upload-icon {
    font-size: 15em;
  }
}

@media screen and (min-height: 0px) and (max-height: 499px) and (orientation: landscape) {
  .box span.upload-icon {
    opacity: 1;
    font-size: 10em;
  }
}

@media screen and (min-height: 500px) and (max-width: 959px) and (orientation: landscape) {
  .box span.upload-icon {
    font-size: 15em;
  }
}

.box h2.upload-label {
  transition: all 0.3s linear;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 25px;
  text-align: center;
}

.box h2.upload-label span.pc {
  display: none;
}

@media screen and (min-width: 960px) and (max-width: 1279px) and (min-height: 600px) and (orientation: landscape) {
  .box h2.upload-label span.pc {
    display: initial;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .box h2.upload-label span.pc {
    display: initial;
  }
}

@media screen and (min-width: 1600px) and (orientation: landscape) {
  .box h2.upload-label span.pc {
    display: initial;
  }
}

.box h2.upload-label span.mob {
  display: initial;
}

@media screen and (min-width: 960px) and (max-width: 1279px) and (min-height: 600px) and (orientation: landscape) {
  .box h2.upload-label span.mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .box h2.upload-label span.mob {
    display: none;
  }
}

@media screen and (min-width: 1600px) and (orientation: landscape) {
  .box h2.upload-label span.mob {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) {
  .box h2.upload-label {
    font-size: 1.5rem;
  }
}

@media screen and (min-height: 500px) and (max-width: 959px) and (orientation: landscape) {
  .box h2.upload-label {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) {
  .box h2.upload-label {
    font-size: 1.5rem;
  }
}

@media screen and (min-height: 500px) and (max-width: 959px) and (orientation: landscape) {
  .box h2.upload-label {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) and (min-height: 600px) and (orientation: landscape) {
  .box h2.upload-label {
    font-size: 2rem;
  }
}

.box > .preview-icon, .box .preview, .box .h2, .box small {
  pointer-events: none;
}

.box .preview {
  display: none;
  transform: translateY(2500px);
}

.box span,
.box h2,
.box small, .box .preview {
  transition: transform 0.3s cubic-bezier(1, -0.29, 0.83, 0.67);
}

.box.hover-initial {
  transition: scale(1.1) 0.5s cubic-bezier(0.17, 1.64, 0, -1.56);
}

.box.hover, .box:hover {
  opacity: 1;
  background: url("/assets/img/hover.png") repeat;
  transform: scale(1.01);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
}

.box:hover {
  cursor: pointer;
}

.box.drop-valid {
  opacity: 1;
}

.box.drop-valid:hover {
  z-index: initial;
  box-shadow: none;
  transform: none;
}

.box.drop-valid span,
.box.drop-valid h2,
.box.drop-valid small {
  transform: translateY(-2500px);
  opacity: 0;
}

.box.drop-valid .preview {
  display: block;
  transform: translateY(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 12px;
}

.box.drop-valid .preview img {
  max-width: 100%;
  height: auto;
}

.box.drop-invalid {
  opacity: 1;
}

.box.drop-invalid:hover {
  z-index: initial;
  box-shadow: none;
  transform: none;
}

.alert {
  opacity: 1 !important;
  z-index: 5;
  opacity: 1;
}

/* Responsive SCSS version of Saransh Sinha's gorgeous codepen.
 * Original credit: https://codepen.io/saransh/
 * ----
 * This uses vw and vh units rather than pixels, so as to be completely responsive.
 * Be aware this is less supported in older browsers.
 * ----
 * I also added some extra optional attributes such as star color,
 * but these can safely be left default.
 * ----
 * Usage:
 *

 	.class {
		@include parallax-layer(nStars, starSize, animationDuration, starColor, animationEasing);
	}

	Duplicating Saransh's version is as simple as this:






	Note: Background is left to you to set, the mix-in creates the stars only.
* /



/* Keyframes */
@keyframes parallax {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

.parallax-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  pointer-events: none;
  box-shadow: 56vw 28vh white, 84vw 98vh white, 29vw 88vh white, 69vw 53vh white, 16vw 73vh white, 99vw 64vh white, 49vw 18vh white, 90vw 69vh white, 12vw 58vh white, 69vw 45vh white, 12vw 46vh white, 50vw 15vh white, 55vw 52vh white, 37vw 70vh white, 52vw 94vh white, 69vw 98vh white, 58vw 22vh white, 33vw 59vh white, 35vw 70vh white, 14vw 65vh white, 89vw 73vh white, 25vw 42vh white, 42vw 63vh white, 26vw 54vh white, 55vw 26vh white, 10vw 36vh white, 10vw 84vh white, 63vw 85vh white, 2vw 60vh white, 26vw 76vh white, 76vw 79vh white, 8vw 25vh white, 62vw 1vh white, 37vw 66vh white, 88vw 25vh white, 63vw 19vh white, 48vw 70vh white, 18vw 93vh white, 79vw 66vh white, 11vw 40vh white, 28vw 91vh white, 25vw 12vh white, 98vw 70vh white, 18vw 99vh white, 97vw 25vh white, 82vw 19vh white, 98vw 87vh white, 94vw 24vh white, 58vw 31vh white, 52vw 39vh white, 53vw 24vh white, 51vw 27vh white, 72vw 78vh white, 72vw 46vh white, 60vw 69vh white, 37vw 15vh white, 83vw 92vh white, 67vw 5vh white, 35vw 38vh white, 30vw 87vh white, 91vw 23vh white, 12vw 95vh white, 5vw 49vh white, 17vw 51vh white, 39vw 37vh white, 45vw 61vh white, 17vw 6vh white, 37vw 2vh white, 71vw 43vh white, 83vw 19vh white, 36vw 42vh white, 76vw 67vh white, 75vw 66vh white, 72vw 4vh white, 13vw 71vh white, 58vw 47vh white, 50vw 13vh white, 19vw 53vh white, 35vw 23vh white, 29vw 4vh white, 55vw 67vh white, 47vw 100vh white, 100vw 10vh white, 66vw 60vh white, 10vw 12vh white, 86vw 24vh white, 70vw 3vh white, 74vw 77vh white, 8vw 44vh white, 56vw 75vh white, 87vw 88vh white, 24vw 99vh white, 9vw 24vh white, 2vw 76vh white, 17vw 72vh white, 61vw 24vh white, 42vw 54vh white, 16vw 72vh white, 80vw 10vh white, 80vw 46vh white, 84vw 30vh white, 72vw 83vh white, 87vw 53vh white, 16vw 20vh white, 44vw 33vh white, 60vw 2vh white, 64vw 79vh white, 86vw 65vh white, 97vw 55vh white, 21vw 41vh white, 4vw 22vh white, 32vw 37vh white, 35vw 82vh white, 60vw 66vh white, 55vw 95vh white, 44vw 38vh white, 33vw 95vh white, 96vw 58vh white, 93vw 86vh white, 46vw 70vh white, 78vw 71vh white, 1vw 74vh white, 71vw 2vh white, 41vw 95vh white, 68vw 69vh white, 97vw 67vh white, 100vw 82vh white, 97vw 2vh white, 85vw 49vh white, 49vw 5vh white, 53vw 64vh white, 98vw 49vh white, 48vw 24vh white, 55vw 67vh white, 95vw 34vh white, 71vw 92vh white, 94vw 74vh white, 15vw 14vh white, 66vw 60vh white, 60vw 19vh white, 65vw 55vh white, 60vw 3vh white, 8vw 31vh white, 65vw 39vh white, 16vw 64vh white, 30vw 17vh white, 46vw 80vh white, 78vw 59vh white, 43vw 70vh white, 12vw 38vh white, 94vw 15vh white, 29vw 37vh white, 34vw 99vh white, 32vw 18vh white, 14vw 64vh white, 82vw 30vh white, 79vw 49vh white, 21vw 93vh white, 9vw 16vh white, 24vw 28vh white, 59vw 19vh white, 64vw 83vh white, 75vw 52vh white, 5vw 71vh white, 8vw 100vh white, 37vw 100vh white, 96vw 69vh white, 13vw 94vh white, 79vw 81vh white, 75vw 81vh white, 30vw 35vh white, 64vw 4vh white, 44vw 65vh white, 72vw 38vh white, 3vw 87vh white, 20vw 88vh white, 95vw 69vh white, 10vw 23vh white, 37vw 84vh white, 79vw 23vh white, 55vw 49vh white, 29vw 38vh white, 88vw 26vh white, 80vw 41vh white, 83vw 1vh white, 19vw 50vh white, 21vw 20vh white, 98vw 64vh white, 44vw 55vh white, 55vw 44vh white, 90vw 87vh white, 28vw 83vh white, 59vw 52vh white, 84vw 3vh white, 7vw 68vh white, 59vw 12vh white, 52vw 18vh white, 80vw 58vh white, 95vw 50vh white, 3vw 95vh white, 87vw 43vh white, 31vw 35vh white, 54vw 75vh white, 11vw 6vh white, 60vw 21vh white, 87vw 39vh white, 8vw 81vh white, 47vw 90vh white, 79vw 10vh white, 86vw 32vh white, 5vw 9vh white, 57vw 13vh white, 76vw 62vh white, 63vw 47vh white, 27vw 40vh white, 18vw 82vh white, 11vw 100vh white, 29vw 70vh white, 89vw 6vh white, 94vw 66vh white, 78vw 80vh white, 32vw 17vh white, 37vw 58vh white, 72vw 79vh white, 17vw 4vh white, 8vw 69vh white, 96vw 21vh white, 56vw 33vh white, 27vw 95vh white, 57vw 38vh white, 86vw 8vh white, 24vw 24vh white, 35vw 49vh white, 4vw 84vh white, 96vw 61vh white, 49vw 61vh white, 94vw 15vh white, 97vw 91vh white, 21vw 92vh white, 93vw 60vh white, 52vw 35vh white, 83vw 18vh white, 48vw 99vh white, 72vw 34vh white, 7vw 15vh white, 3vw 91vh white, 90vw 62vh white, 14vw 82vh white, 34vw 25vh white, 85vw 35vh white, 31vw 81vh white;
  animation: parallax 50s linear infinite;
  border-radius: 50%;
}

.parallax-1:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  top: 100vh;
  box-shadow: 56vw 28vh white, 84vw 98vh white, 29vw 88vh white, 69vw 53vh white, 16vw 73vh white, 99vw 64vh white, 49vw 18vh white, 90vw 69vh white, 12vw 58vh white, 69vw 45vh white, 12vw 46vh white, 50vw 15vh white, 55vw 52vh white, 37vw 70vh white, 52vw 94vh white, 69vw 98vh white, 58vw 22vh white, 33vw 59vh white, 35vw 70vh white, 14vw 65vh white, 89vw 73vh white, 25vw 42vh white, 42vw 63vh white, 26vw 54vh white, 55vw 26vh white, 10vw 36vh white, 10vw 84vh white, 63vw 85vh white, 2vw 60vh white, 26vw 76vh white, 76vw 79vh white, 8vw 25vh white, 62vw 1vh white, 37vw 66vh white, 88vw 25vh white, 63vw 19vh white, 48vw 70vh white, 18vw 93vh white, 79vw 66vh white, 11vw 40vh white, 28vw 91vh white, 25vw 12vh white, 98vw 70vh white, 18vw 99vh white, 97vw 25vh white, 82vw 19vh white, 98vw 87vh white, 94vw 24vh white, 58vw 31vh white, 52vw 39vh white, 53vw 24vh white, 51vw 27vh white, 72vw 78vh white, 72vw 46vh white, 60vw 69vh white, 37vw 15vh white, 83vw 92vh white, 67vw 5vh white, 35vw 38vh white, 30vw 87vh white, 91vw 23vh white, 12vw 95vh white, 5vw 49vh white, 17vw 51vh white, 39vw 37vh white, 45vw 61vh white, 17vw 6vh white, 37vw 2vh white, 71vw 43vh white, 83vw 19vh white, 36vw 42vh white, 76vw 67vh white, 75vw 66vh white, 72vw 4vh white, 13vw 71vh white, 58vw 47vh white, 50vw 13vh white, 19vw 53vh white, 35vw 23vh white, 29vw 4vh white, 55vw 67vh white, 47vw 100vh white, 100vw 10vh white, 66vw 60vh white, 10vw 12vh white, 86vw 24vh white, 70vw 3vh white, 74vw 77vh white, 8vw 44vh white, 56vw 75vh white, 87vw 88vh white, 24vw 99vh white, 9vw 24vh white, 2vw 76vh white, 17vw 72vh white, 61vw 24vh white, 42vw 54vh white, 16vw 72vh white, 80vw 10vh white, 80vw 46vh white, 84vw 30vh white, 72vw 83vh white, 87vw 53vh white, 16vw 20vh white, 44vw 33vh white, 60vw 2vh white, 64vw 79vh white, 86vw 65vh white, 97vw 55vh white, 21vw 41vh white, 4vw 22vh white, 32vw 37vh white, 35vw 82vh white, 60vw 66vh white, 55vw 95vh white, 44vw 38vh white, 33vw 95vh white, 96vw 58vh white, 93vw 86vh white, 46vw 70vh white, 78vw 71vh white, 1vw 74vh white, 71vw 2vh white, 41vw 95vh white, 68vw 69vh white, 97vw 67vh white, 100vw 82vh white, 97vw 2vh white, 85vw 49vh white, 49vw 5vh white, 53vw 64vh white, 98vw 49vh white, 48vw 24vh white, 55vw 67vh white, 95vw 34vh white, 71vw 92vh white, 94vw 74vh white, 15vw 14vh white, 66vw 60vh white, 60vw 19vh white, 65vw 55vh white, 60vw 3vh white, 8vw 31vh white, 65vw 39vh white, 16vw 64vh white, 30vw 17vh white, 46vw 80vh white, 78vw 59vh white, 43vw 70vh white, 12vw 38vh white, 94vw 15vh white, 29vw 37vh white, 34vw 99vh white, 32vw 18vh white, 14vw 64vh white, 82vw 30vh white, 79vw 49vh white, 21vw 93vh white, 9vw 16vh white, 24vw 28vh white, 59vw 19vh white, 64vw 83vh white, 75vw 52vh white, 5vw 71vh white, 8vw 100vh white, 37vw 100vh white, 96vw 69vh white, 13vw 94vh white, 79vw 81vh white, 75vw 81vh white, 30vw 35vh white, 64vw 4vh white, 44vw 65vh white, 72vw 38vh white, 3vw 87vh white, 20vw 88vh white, 95vw 69vh white, 10vw 23vh white, 37vw 84vh white, 79vw 23vh white, 55vw 49vh white, 29vw 38vh white, 88vw 26vh white, 80vw 41vh white, 83vw 1vh white, 19vw 50vh white, 21vw 20vh white, 98vw 64vh white, 44vw 55vh white, 55vw 44vh white, 90vw 87vh white, 28vw 83vh white, 59vw 52vh white, 84vw 3vh white, 7vw 68vh white, 59vw 12vh white, 52vw 18vh white, 80vw 58vh white, 95vw 50vh white, 3vw 95vh white, 87vw 43vh white, 31vw 35vh white, 54vw 75vh white, 11vw 6vh white, 60vw 21vh white, 87vw 39vh white, 8vw 81vh white, 47vw 90vh white, 79vw 10vh white, 86vw 32vh white, 5vw 9vh white, 57vw 13vh white, 76vw 62vh white, 63vw 47vh white, 27vw 40vh white, 18vw 82vh white, 11vw 100vh white, 29vw 70vh white, 89vw 6vh white, 94vw 66vh white, 78vw 80vh white, 32vw 17vh white, 37vw 58vh white, 72vw 79vh white, 17vw 4vh white, 8vw 69vh white, 96vw 21vh white, 56vw 33vh white, 27vw 95vh white, 57vw 38vh white, 86vw 8vh white, 24vw 24vh white, 35vw 49vh white, 4vw 84vh white, 96vw 61vh white, 49vw 61vh white, 94vw 15vh white, 97vw 91vh white, 21vw 92vh white, 93vw 60vh white, 52vw 35vh white, 83vw 18vh white, 48vw 99vh white, 72vw 34vh white, 7vw 15vh white, 3vw 91vh white, 90vw 62vh white, 14vw 82vh white, 34vw 25vh white, 85vw 35vh white, 31vw 81vh white;
  border-radius: 50%;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .parallax-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    pointer-events: none;
    box-shadow: 30vw 99vh white, 8vw 54vh white, 96vw 99vh white, 34vw 95vh white, 7vw 77vh white, 41vw 59vh white, 79vw 35vh white, 73vw 17vh white, 1vw 76vh white, 66vw 36vh white, 47vw 85vh white, 26vw 94vh white, 44vw 97vh white, 66vw 58vh white, 31vw 91vh white, 4vw 92vh white, 31vw 64vh white, 28vw 86vh white, 83vw 42vh white, 36vw 13vh white, 80vw 51vh white, 59vw 17vh white, 4vw 90vh white, 24vw 48vh white, 14vw 97vh white, 4vw 66vh white, 11vw 33vh white, 68vw 9vh white, 81vw 85vh white, 74vw 46vh white, 45vw 31vh white, 73vw 70vh white, 97vw 99vh white, 86vw 93vh white, 51vw 67vh white, 96vw 6vh white, 13vw 21vh white, 10vw 3vh white, 29vw 12vh white, 17vw 56vh white, 52vw 76vh white, 48vw 7vh white, 91vw 62vh white, 69vw 58vh white, 83vw 79vh white, 82vw 7vh white, 44vw 48vh white, 33vw 61vh white, 99vw 2vh white, 70vw 69vh white, 62vw 56vh white, 17vw 77vh white, 28vw 84vh white, 56vw 96vh white, 24vw 97vh white, 48vw 54vh white, 46vw 21vh white, 17vw 53vh white, 57vw 25vh white, 29vw 75vh white, 84vw 26vh white, 3vw 76vh white, 58vw 72vh white, 38vw 69vh white, 95vw 66vh white, 70vw 6vh white, 39vw 37vh white, 94vw 100vh white, 98vw 59vh white, 79vw 92vh white, 91vw 52vh white, 68vw 84vh white, 40vw 9vh white, 27vw 79vh white, 1vw 15vh white, 5vw 79vh white, 61vw 54vh white, 98vw 41vh white, 82vw 33vh white, 21vw 2vh white, 50vw 46vh white, 8vw 66vh white, 49vw 47vh white, 32vw 73vh white, 96vw 81vh white, 18vw 51vh white, 69vw 60vh white, 61vw 42vh white, 18vw 54vh white, 44vw 15vh white, 33vw 18vh white, 74vw 49vh white, 16vw 70vh white, 49vw 95vh white, 8vw 3vh white, 7vw 76vh white, 19vw 7vh white, 97vw 11vh white, 26vw 22vh white, 7vw 29vh white, 66vw 92vh white, 72vw 94vh white, 53vw 99vh white, 100vw 95vh white, 89vw 61vh white, 67vw 15vh white, 42vw 92vh white, 93vw 9vh white, 43vw 57vh white, 19vw 84vh white, 48vw 84vh white, 32vw 31vh white, 63vw 16vh white, 4vw 75vh white, 36vw 46vh white, 82vw 26vh white, 58vw 30vh white, 3vw 8vh white, 66vw 98vh white, 3vw 33vh white, 50vw 98vh white, 35vw 9vh white, 11vw 76vh white, 4vw 99vh white, 81vw 45vh white, 81vw 96vh white, 64vw 85vh white, 61vw 38vh white, 41vw 20vh white, 79vw 76vh white, 42vw 49vh white, 90vw 27vh white, 57vw 26vh white, 65vw 55vh white, 79vw 63vh white, 69vw 14vh white, 92vw 51vh white, 93vw 72vh white, 86vw 52vh white, 25vw 95vh white, 57vw 81vh white, 96vw 75vh white, 12vw 16vh white, 10vw 9vh white, 57vw 59vh white, 86vw 20vh white, 17vw 85vh white, 88vw 53vh white, 92vw 4vh white, 86vw 98vh white, 57vw 64vh white, 48vw 98vh white, 52vw 77vh white, 25vw 90vh white, 52vw 99vh white, 15vw 9vh white, 31vw 1vh white, 38vw 4vh white, 14vw 50vh white, 28vw 95vh white, 20vw 38vh white, 27vw 3vh white, 84vw 49vh white, 79vw 93vh white, 33vw 14vh white, 17vw 24vh white, 74vw 1vh white, 12vw 22vh white, 77vw 62vh white, 24vw 65vh white, 96vw 73vh white, 11vw 4vh white, 61vw 73vh white, 52vw 54vh white, 26vw 27vh white, 9vw 99vh white, 57vw 4vh white, 71vw 55vh white, 57vw 90vh white, 97vw 36vh white, 16vw 8vh white, 77vw 16vh white, 61vw 71vh white, 49vw 88vh white, 17vw 28vh white, 75vw 28vh white, 74vw 64vh white, 49vw 42vh white, 37vw 25vh white, 20vw 38vh white, 46vw 41vh white, 25vw 43vh white, 44vw 94vh white, 17vw 53vh white, 79vw 99vh white, 94vw 29vh white, 19vw 42vh white, 84vw 57vh white, 61vw 11vh white, 98vw 14vh white, 97vw 28vh white, 43vw 42vh white, 29vw 85vh white, 45vw 19vh white, 16vw 47vh white, 56vw 95vh white, 54vw 77vh white, 10vw 97vh white, 14vw 77vh white, 43vw 83vh white, 99vw 18vh white, 50vw 86vh white, 27vw 74vh white, 87vw 68vh white, 33vw 82vh white, 79vw 79vh white, 44vw 69vh white, 75vw 95vh white, 45vw 74vh white, 41vw 5vh white, 44vw 69vh white, 90vw 19vh white, 59vw 20vh white, 81vw 31vh white, 55vw 35vh white, 58vw 9vh white, 57vw 37vh white, 85vw 47vh white, 14vw 67vh white, 37vw 81vh white, 96vw 33vh white, 59vw 76vh white, 64vw 61vh white, 40vw 83vh white, 89vw 63vh white, 36vw 93vh white, 6vw 16vh white, 88vw 87vh white, 64vw 20vh white, 20vw 18vh white, 55vw 34vh white, 30vw 28vh white, 85vw 95vh white, 83vw 2vh white, 66vw 47vh white, 52vw 98vh white, 39vw 66vh white, 62vw 31vh white, 92vw 16vh white, 29vw 17vh white, 39vw 30vh white, 76vw 88vh white, 36vw 39vh white, 58vw 92vh white, 12vw 36vh white, 12vw 34vh white, 36vw 21vh white, 7vw 67vh white, 69vw 34vh white, 93vw 44vh white, 37vw 32vh white, 67vw 62vh white, 37vw 59vh white, 14vw 47vh white, 64vw 58vh white, 66vw 78vh white, 14vw 53vh white, 89vw 51vh white, 76vw 80vh white, 12vw 83vh white, 89vw 70vh white, 85vw 62vh white, 56vw 94vh white, 1vw 48vh white, 95vw 38vh white, 75vw 92vh white, 35vw 75vh white, 13vw 6vh white, 57vw 24vh white, 62vw 83vh white, 66vw 59vh white, 77vw 54vh white, 69vw 66vh white, 78vw 21vh white, 64vw 97vh white, 46vw 61vh white, 9vw 36vh white, 100vw 4vh white, 39vw 76vh white, 16vw 56vh white, 37vw 61vh white, 15vw 87vh white, 48vw 28vh white, 40vw 57vh white, 55vw 37vh white, 90vw 83vh white, 44vw 86vh white, 52vw 58vh white, 33vw 27vh white, 6vw 72vh white, 1vw 66vh white, 28vw 11vh white, 84vw 5vh white, 46vw 4vh white, 55vw 98vh white, 36vw 22vh white, 99vw 18vh white, 18vw 47vh white, 74vw 68vh white, 7vw 66vh white, 83vw 13vh white, 68vw 38vh white, 7vw 78vh white, 98vw 72vh white, 48vw 25vh white, 62vw 76vh white, 100vw 92vh white, 18vw 82vh white, 100vw 56vh white, 38vw 70vh white, 92vw 28vh white, 25vw 15vh white, 76vw 73vh white, 79vw 65vh white, 49vw 14vh white, 88vw 84vh white, 36vw 22vh white, 77vw 68vh white, 34vw 37vh white, 23vw 40vh white, 96vw 85vh white, 40vw 68vh white, 82vw 76vh white, 8vw 38vh white, 11vw 55vh white, 5vw 13vh white, 64vw 13vh white, 75vw 66vh white, 21vw 50vh white, 78vw 72vh white, 7vw 27vh white, 84vw 85vh white, 50vw 83vh white, 54vw 95vh white, 66vw 100vh white, 26vw 68vh white, 26vw 34vh white, 52vw 72vh white, 91vw 99vh white, 17vw 52vh white, 51vw 37vh white, 41vw 61vh white, 99vw 33vh white, 44vw 14vh white, 21vw 67vh white, 36vw 62vh white, 54vw 54vh white, 44vw 25vh white, 34vw 53vh white, 78vw 44vh white, 35vw 31vh white, 36vw 41vh white, 75vw 88vh white, 49vw 86vh white, 99vw 100vh white, 27vw 25vh white, 13vw 34vh white, 15vw 65vh white, 34vw 30vh white, 13vw 58vh white, 67vw 7vh white, 79vw 20vh white, 26vw 77vh white, 68vw 86vh white, 5vw 19vh white, 7vw 75vh white, 6vw 94vh white, 25vw 35vh white, 23vw 72vh white, 60vw 36vh white, 18vw 52vh white, 90vw 65vh white, 15vw 23vh white, 46vw 99vh white, 16vw 60vh white, 99vw 72vh white, 53vw 63vh white, 17vw 97vh white, 95vw 19vh white, 86vw 45vh white, 14vw 95vh white, 54vw 11vh white, 45vw 67vh white, 97vw 80vh white, 85vw 80vh white, 93vw 72vh white, 50vw 20vh white, 77vw 63vh white, 25vw 57vh white, 99vw 38vh white, 35vw 54vh white, 21vw 27vh white, 33vw 42vh white, 30vw 6vh white, 41vw 96vh white, 85vw 27vh white, 44vw 9vh white, 92vw 26vh white, 33vw 13vh white, 25vw 88vh white, 87vw 95vh white, 14vw 77vh white, 99vw 19vh white, 38vw 7vh white, 5vw 64vh white, 65vw 52vh white, 97vw 27vh white, 7vw 88vh white, 73vw 26vh white, 56vw 1vh white, 17vw 96vh white, 97vw 11vh white, 60vw 69vh white, 3vw 20vh white, 91vw 17vh white, 70vw 88vh white, 86vw 35vh white, 99vw 24vh white, 51vw 16vh white, 43vw 16vh white, 32vw 67vh white, 83vw 25vh white, 11vw 37vh white, 7vw 72vh white, 50vw 63vh white, 32vw 13vh white, 18vw 57vh white, 71vw 20vh white, 7vw 95vh white, 14vw 30vh white, 14vw 7vh white, 10vw 5vh white, 81vw 8vh white, 100vw 60vh white, 77vw 32vh white, 22vw 72vh white, 65vw 79vh white, 4vw 52vh white, 15vw 92vh white, 24vw 7vh white, 85vw 5vh white, 37vw 48vh white, 100vw 34vh white, 50vw 64vh white, 62vw 4vh white, 65vw 76vh white, 8vw 70vh white, 23vw 37vh white, 51vw 87vh white, 1vw 58vh white, 26vw 33vh white, 71vw 19vh white, 90vw 62vh white, 92vw 57vh white, 58vw 81vh white, 48vw 92vh white, 31vw 61vh white, 68vw 52vh white, 69vw 79vh white, 74vw 17vh white, 25vw 83vh white, 20vw 24vh white, 65vw 46vh white, 31vw 32vh white, 48vw 85vh white, 61vw 71vh white, 16vw 71vh white, 91vw 92vh white, 31vw 51vh white, 37vw 5vh white, 71vw 79vh white, 62vw 11vh white, 97vw 23vh white, 3vw 65vh white, 36vw 37vh white, 10vw 65vh white, 69vw 25vh white, 30vw 5vh white, 81vw 49vh white, 94vw 64vh white, 92vw 75vh white, 90vw 87vh white, 84vw 23vh white, 92vw 13vh white, 95vw 76vh white, 16vw 1vh white, 98vw 78vh white, 16vw 68vh white, 13vw 47vh white, 29vw 33vh white, 41vw 71vh white, 11vw 49vh white, 56vw 94vh white, 76vw 86vh white, 70vw 72vh white, 30vw 91vh white, 81vw 50vh white, 87vw 39vh white, 1vw 62vh white, 41vw 70vh white, 59vw 100vh white, 18vw 36vh white, 57vw 74vh white, 12vw 13vh white, 56vw 21vh white, 54vw 83vh white, 45vw 11vh white, 86vw 61vh white, 49vw 23vh white, 18vw 85vh white, 76vw 99vh white, 9vw 54vh white, 18vw 81vh white, 47vw 7vh white, 22vw 25vh white, 71vw 16vh white, 51vw 33vh white, 22vw 58vh white, 77vw 7vh white, 90vw 71vh white, 29vw 67vh white, 22vw 48vh white, 6vw 81vh white, 71vw 76vh white, 64vw 31vh white, 75vw 56vh white, 21vw 86vh white, 57vw 1vh white, 38vw 91vh white, 46vw 51vh white, 84vw 14vh white, 30vw 20vh white, 70vw 24vh white, 26vw 17vh white, 49vw 71vh white, 7vw 50vh white, 14vw 6vh white, 55vw 95vh white, 75vw 44vh white, 78vw 54vh white, 3vw 73vh white, 20vw 13vh white, 8vw 41vh white, 63vw 5vh white, 44vw 62vh white, 46vw 31vh white, 83vw 28vh white, 63vw 97vh white, 69vw 88vh white, 42vw 14vh white, 95vw 45vh white, 33vw 66vh white, 54vw 47vh white, 44vw 27vh white, 100vw 26vh white, 6vw 81vh white, 45vw 15vh white, 98vw 29vh white, 3vw 27vh white, 82vw 85vh white, 47vw 48vh white, 31vw 96vh white, 38vw 41vh white, 73vw 99vh white, 81vw 38vh white, 48vw 10vh white, 83vw 61vh white, 10vw 97vh white, 87vw 27vh white, 16vw 58vh white, 34vw 95vh white, 63vw 15vh white, 94vw 16vh white, 46vw 40vh white, 49vw 13vh white, 93vw 73vh white, 26vw 32vh white, 58vw 85vh white, 25vw 45vh white, 44vw 21vh white, 67vw 3vh white, 40vw 93vh white, 24vw 21vh white, 13vw 68vh white, 43vw 14vh white, 37vw 98vh white, 35vw 80vh white, 70vw 44vh white, 57vw 57vh white, 49vw 71vh white, 85vw 50vh white, 9vw 22vh white, 89vw 68vh white, 10vw 17vh white, 38vw 53vh white, 43vw 17vh white, 50vw 91vh white, 57vw 24vh white, 31vw 38vh white, 7vw 45vh white, 56vw 6vh white, 53vw 51vh white, 81vw 27vh white, 48vw 25vh white, 92vw 3vh white, 62vw 97vh white, 68vw 75vh white, 85vw 64vh white, 3vw 44vh white, 70vw 64vh white, 56vw 70vh white, 16vw 49vh white, 89vw 97vh white, 29vw 36vh white, 11vw 71vh white, 9vw 57vh white, 53vw 27vh white, 39vw 23vh white, 16vw 33vh white, 55vw 61vh white, 45vw 78vh white, 37vw 52vh white, 75vw 55vh white, 95vw 53vh white, 81vw 71vh white, 48vw 9vh white, 88vw 75vh white, 16vw 64vh white, 17vw 17vh white, 91vw 59vh white, 90vw 50vh white, 43vw 57vh white, 45vw 36vh white, 88vw 35vh white, 47vw 89vh white, 43vw 69vh white, 41vw 36vh white, 65vw 56vh white, 34vw 29vh white, 46vw 50vh white, 17vw 13vh white, 75vw 11vh white, 55vw 71vh white, 83vw 18vh white, 5vw 17vh white, 40vw 67vh white, 37vw 50vh white, 35vw 38vh white, 22vw 50vh white, 76vw 82vh white, 39vw 52vh white, 6vw 11vh white, 98vw 10vh white, 38vw 79vh white, 95vw 1vh white, 2vw 75vh white, 92vw 97vh white, 63vw 76vh white, 92vw 65vh white, 96vw 47vh white, 30vw 27vh white, 11vw 29vh white, 6vw 53vh white, 66vw 95vh white, 82vw 96vh white, 72vw 78vh white, 53vw 21vh white, 81vw 33vh white, 63vw 66vh white, 39vw 31vh white, 41vw 76vh white, 19vw 66vh white, 99vw 34vh white, 27vw 29vh white, 21vw 33vh white, 12vw 61vh white, 26vw 31vh white, 67vw 14vh white, 49vw 86vh white, 33vw 17vh white, 83vw 76vh white, 76vw 54vh white, 8vw 91vh white, 42vw 97vh white, 39vw 13vh white, 32vw 15vh white, 99vw 3vh white, 84vw 90vh white, 40vw 76vh white, 85vw 87vh white, 15vw 97vh white;
    animation: parallax 50s linear infinite;
    border-radius: 50%;
  }
  .parallax-1:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    top: 100vh;
    box-shadow: 30vw 99vh white, 8vw 54vh white, 96vw 99vh white, 34vw 95vh white, 7vw 77vh white, 41vw 59vh white, 79vw 35vh white, 73vw 17vh white, 1vw 76vh white, 66vw 36vh white, 47vw 85vh white, 26vw 94vh white, 44vw 97vh white, 66vw 58vh white, 31vw 91vh white, 4vw 92vh white, 31vw 64vh white, 28vw 86vh white, 83vw 42vh white, 36vw 13vh white, 80vw 51vh white, 59vw 17vh white, 4vw 90vh white, 24vw 48vh white, 14vw 97vh white, 4vw 66vh white, 11vw 33vh white, 68vw 9vh white, 81vw 85vh white, 74vw 46vh white, 45vw 31vh white, 73vw 70vh white, 97vw 99vh white, 86vw 93vh white, 51vw 67vh white, 96vw 6vh white, 13vw 21vh white, 10vw 3vh white, 29vw 12vh white, 17vw 56vh white, 52vw 76vh white, 48vw 7vh white, 91vw 62vh white, 69vw 58vh white, 83vw 79vh white, 82vw 7vh white, 44vw 48vh white, 33vw 61vh white, 99vw 2vh white, 70vw 69vh white, 62vw 56vh white, 17vw 77vh white, 28vw 84vh white, 56vw 96vh white, 24vw 97vh white, 48vw 54vh white, 46vw 21vh white, 17vw 53vh white, 57vw 25vh white, 29vw 75vh white, 84vw 26vh white, 3vw 76vh white, 58vw 72vh white, 38vw 69vh white, 95vw 66vh white, 70vw 6vh white, 39vw 37vh white, 94vw 100vh white, 98vw 59vh white, 79vw 92vh white, 91vw 52vh white, 68vw 84vh white, 40vw 9vh white, 27vw 79vh white, 1vw 15vh white, 5vw 79vh white, 61vw 54vh white, 98vw 41vh white, 82vw 33vh white, 21vw 2vh white, 50vw 46vh white, 8vw 66vh white, 49vw 47vh white, 32vw 73vh white, 96vw 81vh white, 18vw 51vh white, 69vw 60vh white, 61vw 42vh white, 18vw 54vh white, 44vw 15vh white, 33vw 18vh white, 74vw 49vh white, 16vw 70vh white, 49vw 95vh white, 8vw 3vh white, 7vw 76vh white, 19vw 7vh white, 97vw 11vh white, 26vw 22vh white, 7vw 29vh white, 66vw 92vh white, 72vw 94vh white, 53vw 99vh white, 100vw 95vh white, 89vw 61vh white, 67vw 15vh white, 42vw 92vh white, 93vw 9vh white, 43vw 57vh white, 19vw 84vh white, 48vw 84vh white, 32vw 31vh white, 63vw 16vh white, 4vw 75vh white, 36vw 46vh white, 82vw 26vh white, 58vw 30vh white, 3vw 8vh white, 66vw 98vh white, 3vw 33vh white, 50vw 98vh white, 35vw 9vh white, 11vw 76vh white, 4vw 99vh white, 81vw 45vh white, 81vw 96vh white, 64vw 85vh white, 61vw 38vh white, 41vw 20vh white, 79vw 76vh white, 42vw 49vh white, 90vw 27vh white, 57vw 26vh white, 65vw 55vh white, 79vw 63vh white, 69vw 14vh white, 92vw 51vh white, 93vw 72vh white, 86vw 52vh white, 25vw 95vh white, 57vw 81vh white, 96vw 75vh white, 12vw 16vh white, 10vw 9vh white, 57vw 59vh white, 86vw 20vh white, 17vw 85vh white, 88vw 53vh white, 92vw 4vh white, 86vw 98vh white, 57vw 64vh white, 48vw 98vh white, 52vw 77vh white, 25vw 90vh white, 52vw 99vh white, 15vw 9vh white, 31vw 1vh white, 38vw 4vh white, 14vw 50vh white, 28vw 95vh white, 20vw 38vh white, 27vw 3vh white, 84vw 49vh white, 79vw 93vh white, 33vw 14vh white, 17vw 24vh white, 74vw 1vh white, 12vw 22vh white, 77vw 62vh white, 24vw 65vh white, 96vw 73vh white, 11vw 4vh white, 61vw 73vh white, 52vw 54vh white, 26vw 27vh white, 9vw 99vh white, 57vw 4vh white, 71vw 55vh white, 57vw 90vh white, 97vw 36vh white, 16vw 8vh white, 77vw 16vh white, 61vw 71vh white, 49vw 88vh white, 17vw 28vh white, 75vw 28vh white, 74vw 64vh white, 49vw 42vh white, 37vw 25vh white, 20vw 38vh white, 46vw 41vh white, 25vw 43vh white, 44vw 94vh white, 17vw 53vh white, 79vw 99vh white, 94vw 29vh white, 19vw 42vh white, 84vw 57vh white, 61vw 11vh white, 98vw 14vh white, 97vw 28vh white, 43vw 42vh white, 29vw 85vh white, 45vw 19vh white, 16vw 47vh white, 56vw 95vh white, 54vw 77vh white, 10vw 97vh white, 14vw 77vh white, 43vw 83vh white, 99vw 18vh white, 50vw 86vh white, 27vw 74vh white, 87vw 68vh white, 33vw 82vh white, 79vw 79vh white, 44vw 69vh white, 75vw 95vh white, 45vw 74vh white, 41vw 5vh white, 44vw 69vh white, 90vw 19vh white, 59vw 20vh white, 81vw 31vh white, 55vw 35vh white, 58vw 9vh white, 57vw 37vh white, 85vw 47vh white, 14vw 67vh white, 37vw 81vh white, 96vw 33vh white, 59vw 76vh white, 64vw 61vh white, 40vw 83vh white, 89vw 63vh white, 36vw 93vh white, 6vw 16vh white, 88vw 87vh white, 64vw 20vh white, 20vw 18vh white, 55vw 34vh white, 30vw 28vh white, 85vw 95vh white, 83vw 2vh white, 66vw 47vh white, 52vw 98vh white, 39vw 66vh white, 62vw 31vh white, 92vw 16vh white, 29vw 17vh white, 39vw 30vh white, 76vw 88vh white, 36vw 39vh white, 58vw 92vh white, 12vw 36vh white, 12vw 34vh white, 36vw 21vh white, 7vw 67vh white, 69vw 34vh white, 93vw 44vh white, 37vw 32vh white, 67vw 62vh white, 37vw 59vh white, 14vw 47vh white, 64vw 58vh white, 66vw 78vh white, 14vw 53vh white, 89vw 51vh white, 76vw 80vh white, 12vw 83vh white, 89vw 70vh white, 85vw 62vh white, 56vw 94vh white, 1vw 48vh white, 95vw 38vh white, 75vw 92vh white, 35vw 75vh white, 13vw 6vh white, 57vw 24vh white, 62vw 83vh white, 66vw 59vh white, 77vw 54vh white, 69vw 66vh white, 78vw 21vh white, 64vw 97vh white, 46vw 61vh white, 9vw 36vh white, 100vw 4vh white, 39vw 76vh white, 16vw 56vh white, 37vw 61vh white, 15vw 87vh white, 48vw 28vh white, 40vw 57vh white, 55vw 37vh white, 90vw 83vh white, 44vw 86vh white, 52vw 58vh white, 33vw 27vh white, 6vw 72vh white, 1vw 66vh white, 28vw 11vh white, 84vw 5vh white, 46vw 4vh white, 55vw 98vh white, 36vw 22vh white, 99vw 18vh white, 18vw 47vh white, 74vw 68vh white, 7vw 66vh white, 83vw 13vh white, 68vw 38vh white, 7vw 78vh white, 98vw 72vh white, 48vw 25vh white, 62vw 76vh white, 100vw 92vh white, 18vw 82vh white, 100vw 56vh white, 38vw 70vh white, 92vw 28vh white, 25vw 15vh white, 76vw 73vh white, 79vw 65vh white, 49vw 14vh white, 88vw 84vh white, 36vw 22vh white, 77vw 68vh white, 34vw 37vh white, 23vw 40vh white, 96vw 85vh white, 40vw 68vh white, 82vw 76vh white, 8vw 38vh white, 11vw 55vh white, 5vw 13vh white, 64vw 13vh white, 75vw 66vh white, 21vw 50vh white, 78vw 72vh white, 7vw 27vh white, 84vw 85vh white, 50vw 83vh white, 54vw 95vh white, 66vw 100vh white, 26vw 68vh white, 26vw 34vh white, 52vw 72vh white, 91vw 99vh white, 17vw 52vh white, 51vw 37vh white, 41vw 61vh white, 99vw 33vh white, 44vw 14vh white, 21vw 67vh white, 36vw 62vh white, 54vw 54vh white, 44vw 25vh white, 34vw 53vh white, 78vw 44vh white, 35vw 31vh white, 36vw 41vh white, 75vw 88vh white, 49vw 86vh white, 99vw 100vh white, 27vw 25vh white, 13vw 34vh white, 15vw 65vh white, 34vw 30vh white, 13vw 58vh white, 67vw 7vh white, 79vw 20vh white, 26vw 77vh white, 68vw 86vh white, 5vw 19vh white, 7vw 75vh white, 6vw 94vh white, 25vw 35vh white, 23vw 72vh white, 60vw 36vh white, 18vw 52vh white, 90vw 65vh white, 15vw 23vh white, 46vw 99vh white, 16vw 60vh white, 99vw 72vh white, 53vw 63vh white, 17vw 97vh white, 95vw 19vh white, 86vw 45vh white, 14vw 95vh white, 54vw 11vh white, 45vw 67vh white, 97vw 80vh white, 85vw 80vh white, 93vw 72vh white, 50vw 20vh white, 77vw 63vh white, 25vw 57vh white, 99vw 38vh white, 35vw 54vh white, 21vw 27vh white, 33vw 42vh white, 30vw 6vh white, 41vw 96vh white, 85vw 27vh white, 44vw 9vh white, 92vw 26vh white, 33vw 13vh white, 25vw 88vh white, 87vw 95vh white, 14vw 77vh white, 99vw 19vh white, 38vw 7vh white, 5vw 64vh white, 65vw 52vh white, 97vw 27vh white, 7vw 88vh white, 73vw 26vh white, 56vw 1vh white, 17vw 96vh white, 97vw 11vh white, 60vw 69vh white, 3vw 20vh white, 91vw 17vh white, 70vw 88vh white, 86vw 35vh white, 99vw 24vh white, 51vw 16vh white, 43vw 16vh white, 32vw 67vh white, 83vw 25vh white, 11vw 37vh white, 7vw 72vh white, 50vw 63vh white, 32vw 13vh white, 18vw 57vh white, 71vw 20vh white, 7vw 95vh white, 14vw 30vh white, 14vw 7vh white, 10vw 5vh white, 81vw 8vh white, 100vw 60vh white, 77vw 32vh white, 22vw 72vh white, 65vw 79vh white, 4vw 52vh white, 15vw 92vh white, 24vw 7vh white, 85vw 5vh white, 37vw 48vh white, 100vw 34vh white, 50vw 64vh white, 62vw 4vh white, 65vw 76vh white, 8vw 70vh white, 23vw 37vh white, 51vw 87vh white, 1vw 58vh white, 26vw 33vh white, 71vw 19vh white, 90vw 62vh white, 92vw 57vh white, 58vw 81vh white, 48vw 92vh white, 31vw 61vh white, 68vw 52vh white, 69vw 79vh white, 74vw 17vh white, 25vw 83vh white, 20vw 24vh white, 65vw 46vh white, 31vw 32vh white, 48vw 85vh white, 61vw 71vh white, 16vw 71vh white, 91vw 92vh white, 31vw 51vh white, 37vw 5vh white, 71vw 79vh white, 62vw 11vh white, 97vw 23vh white, 3vw 65vh white, 36vw 37vh white, 10vw 65vh white, 69vw 25vh white, 30vw 5vh white, 81vw 49vh white, 94vw 64vh white, 92vw 75vh white, 90vw 87vh white, 84vw 23vh white, 92vw 13vh white, 95vw 76vh white, 16vw 1vh white, 98vw 78vh white, 16vw 68vh white, 13vw 47vh white, 29vw 33vh white, 41vw 71vh white, 11vw 49vh white, 56vw 94vh white, 76vw 86vh white, 70vw 72vh white, 30vw 91vh white, 81vw 50vh white, 87vw 39vh white, 1vw 62vh white, 41vw 70vh white, 59vw 100vh white, 18vw 36vh white, 57vw 74vh white, 12vw 13vh white, 56vw 21vh white, 54vw 83vh white, 45vw 11vh white, 86vw 61vh white, 49vw 23vh white, 18vw 85vh white, 76vw 99vh white, 9vw 54vh white, 18vw 81vh white, 47vw 7vh white, 22vw 25vh white, 71vw 16vh white, 51vw 33vh white, 22vw 58vh white, 77vw 7vh white, 90vw 71vh white, 29vw 67vh white, 22vw 48vh white, 6vw 81vh white, 71vw 76vh white, 64vw 31vh white, 75vw 56vh white, 21vw 86vh white, 57vw 1vh white, 38vw 91vh white, 46vw 51vh white, 84vw 14vh white, 30vw 20vh white, 70vw 24vh white, 26vw 17vh white, 49vw 71vh white, 7vw 50vh white, 14vw 6vh white, 55vw 95vh white, 75vw 44vh white, 78vw 54vh white, 3vw 73vh white, 20vw 13vh white, 8vw 41vh white, 63vw 5vh white, 44vw 62vh white, 46vw 31vh white, 83vw 28vh white, 63vw 97vh white, 69vw 88vh white, 42vw 14vh white, 95vw 45vh white, 33vw 66vh white, 54vw 47vh white, 44vw 27vh white, 100vw 26vh white, 6vw 81vh white, 45vw 15vh white, 98vw 29vh white, 3vw 27vh white, 82vw 85vh white, 47vw 48vh white, 31vw 96vh white, 38vw 41vh white, 73vw 99vh white, 81vw 38vh white, 48vw 10vh white, 83vw 61vh white, 10vw 97vh white, 87vw 27vh white, 16vw 58vh white, 34vw 95vh white, 63vw 15vh white, 94vw 16vh white, 46vw 40vh white, 49vw 13vh white, 93vw 73vh white, 26vw 32vh white, 58vw 85vh white, 25vw 45vh white, 44vw 21vh white, 67vw 3vh white, 40vw 93vh white, 24vw 21vh white, 13vw 68vh white, 43vw 14vh white, 37vw 98vh white, 35vw 80vh white, 70vw 44vh white, 57vw 57vh white, 49vw 71vh white, 85vw 50vh white, 9vw 22vh white, 89vw 68vh white, 10vw 17vh white, 38vw 53vh white, 43vw 17vh white, 50vw 91vh white, 57vw 24vh white, 31vw 38vh white, 7vw 45vh white, 56vw 6vh white, 53vw 51vh white, 81vw 27vh white, 48vw 25vh white, 92vw 3vh white, 62vw 97vh white, 68vw 75vh white, 85vw 64vh white, 3vw 44vh white, 70vw 64vh white, 56vw 70vh white, 16vw 49vh white, 89vw 97vh white, 29vw 36vh white, 11vw 71vh white, 9vw 57vh white, 53vw 27vh white, 39vw 23vh white, 16vw 33vh white, 55vw 61vh white, 45vw 78vh white, 37vw 52vh white, 75vw 55vh white, 95vw 53vh white, 81vw 71vh white, 48vw 9vh white, 88vw 75vh white, 16vw 64vh white, 17vw 17vh white, 91vw 59vh white, 90vw 50vh white, 43vw 57vh white, 45vw 36vh white, 88vw 35vh white, 47vw 89vh white, 43vw 69vh white, 41vw 36vh white, 65vw 56vh white, 34vw 29vh white, 46vw 50vh white, 17vw 13vh white, 75vw 11vh white, 55vw 71vh white, 83vw 18vh white, 5vw 17vh white, 40vw 67vh white, 37vw 50vh white, 35vw 38vh white, 22vw 50vh white, 76vw 82vh white, 39vw 52vh white, 6vw 11vh white, 98vw 10vh white, 38vw 79vh white, 95vw 1vh white, 2vw 75vh white, 92vw 97vh white, 63vw 76vh white, 92vw 65vh white, 96vw 47vh white, 30vw 27vh white, 11vw 29vh white, 6vw 53vh white, 66vw 95vh white, 82vw 96vh white, 72vw 78vh white, 53vw 21vh white, 81vw 33vh white, 63vw 66vh white, 39vw 31vh white, 41vw 76vh white, 19vw 66vh white, 99vw 34vh white, 27vw 29vh white, 21vw 33vh white, 12vw 61vh white, 26vw 31vh white, 67vw 14vh white, 49vw 86vh white, 33vw 17vh white, 83vw 76vh white, 76vw 54vh white, 8vw 91vh white, 42vw 97vh white, 39vw 13vh white, 32vw 15vh white, 99vw 3vh white, 84vw 90vh white, 40vw 76vh white, 85vw 87vh white, 15vw 97vh white;
    border-radius: 50%;
  }
}

.parallax-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  pointer-events: none;
  box-shadow: 80vw 56vh white, 94vw 60vh white, 84vw 84vh white, 44vw 36vh white, 68vw 65vh white, 10vw 31vh white, 1vw 99vh white, 26vw 47vh white, 25vw 93vh white, 95vw 72vh white, 98vw 22vh white, 33vw 37vh white, 94vw 100vh white, 37vw 20vh white, 85vw 54vh white, 86vw 84vh white, 36vw 84vh white, 80vw 73vh white, 16vw 35vh white, 63vw 95vh white, 30vw 45vh white, 83vw 94vh white, 98vw 76vh white, 50vw 4vh white, 67vw 2vh white, 99vw 5vh white, 86vw 13vh white, 17vw 12vh white, 44vw 60vh white, 88vw 100vh white, 3vw 74vh white, 57vw 25vh white, 86vw 75vh white, 70vw 93vh white, 63vw 80vh white, 79vw 22vh white, 64vw 41vh white, 58vw 50vh white, 57vw 18vh white, 3vw 96vh white, 52vw 22vh white, 44vw 93vh white, 71vw 18vh white, 32vw 18vh white, 70vw 11vh white, 20vw 89vh white, 58vw 56vh white, 3vw 95vh white, 45vw 59vh white, 44vw 78vh white, 14vw 17vh white;
  animation: parallax 33s linear infinite;
  border-radius: 50%;
}

.parallax-2:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 100vh;
  box-shadow: 80vw 56vh white, 94vw 60vh white, 84vw 84vh white, 44vw 36vh white, 68vw 65vh white, 10vw 31vh white, 1vw 99vh white, 26vw 47vh white, 25vw 93vh white, 95vw 72vh white, 98vw 22vh white, 33vw 37vh white, 94vw 100vh white, 37vw 20vh white, 85vw 54vh white, 86vw 84vh white, 36vw 84vh white, 80vw 73vh white, 16vw 35vh white, 63vw 95vh white, 30vw 45vh white, 83vw 94vh white, 98vw 76vh white, 50vw 4vh white, 67vw 2vh white, 99vw 5vh white, 86vw 13vh white, 17vw 12vh white, 44vw 60vh white, 88vw 100vh white, 3vw 74vh white, 57vw 25vh white, 86vw 75vh white, 70vw 93vh white, 63vw 80vh white, 79vw 22vh white, 64vw 41vh white, 58vw 50vh white, 57vw 18vh white, 3vw 96vh white, 52vw 22vh white, 44vw 93vh white, 71vw 18vh white, 32vw 18vh white, 70vw 11vh white, 20vw 89vh white, 58vw 56vh white, 3vw 95vh white, 45vw 59vh white, 44vw 78vh white, 14vw 17vh white;
  border-radius: 50%;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .parallax-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    pointer-events: none;
    box-shadow: 45vw 64vh white, 35vw 19vh white, 89vw 61vh white, 42vw 55vh white, 12vw 63vh white, 69vw 92vh white, 71vw 99vh white, 14vw 25vh white, 8vw 67vh white, 65vw 11vh white, 26vw 99vh white, 32vw 80vh white, 50vw 8vh white, 43vw 16vh white, 44vw 87vh white, 53vw 9vh white, 78vw 97vh white, 20vw 59vh white, 59vw 41vh white, 43vw 96vh white, 18vw 71vh white, 15vw 31vh white, 59vw 50vh white, 13vw 100vh white, 61vw 31vh white, 65vw 89vh white, 68vw 64vh white, 64vw 54vh white, 9vw 9vh white, 79vw 20vh white, 43vw 17vh white, 46vw 58vh white, 73vw 47vh white, 77vw 12vh white, 32vw 100vh white, 89vw 9vh white, 28vw 50vh white, 8vw 37vh white, 74vw 67vh white, 44vw 42vh white, 64vw 77vh white, 13vw 98vh white, 67vw 35vh white, 7vw 72vh white, 99vw 76vh white, 22vw 34vh white, 9vw 15vh white, 4vw 17vh white, 18vw 25vh white, 62vw 5vh white, 65vw 22vh white, 57vw 29vh white, 30vw 94vh white, 89vw 40vh white, 72vw 74vh white, 4vw 90vh white, 6vw 99vh white, 52vw 55vh white, 45vw 80vh white, 12vw 4vh white, 47vw 38vh white, 28vw 42vh white, 43vw 71vh white, 43vw 34vh white, 49vw 20vh white, 76vw 49vh white, 78vw 34vh white, 50vw 50vh white, 69vw 41vh white, 21vw 5vh white, 20vw 64vh white, 3vw 86vh white, 84vw 81vh white, 11vw 9vh white, 26vw 41vh white, 45vw 90vh white, 58vw 92vh white, 65vw 73vh white, 46vw 42vh white, 54vw 1vh white, 13vw 95vh white, 1vw 65vh white, 89vw 67vh white, 21vw 28vh white, 81vw 35vh white, 34vw 68vh white, 48vw 18vh white, 71vw 90vh white, 78vw 23vh white, 77vw 86vh white, 86vw 17vh white, 24vw 62vh white, 20vw 21vh white, 74vw 66vh white, 83vw 95vh white, 88vw 35vh white, 80vw 29vh white, 61vw 91vh white, 42vw 57vh white, 16vw 9vh white, 78vw 20vh white, 98vw 86vh white, 2vw 70vh white, 1vw 65vh white, 50vw 42vh white, 60vw 65vh white, 17vw 93vh white, 54vw 1vh white, 50vw 53vh white, 26vw 86vh white, 85vw 43vh white, 16vw 33vh white, 33vw 18vh white, 25vw 72vh white, 68vw 86vh white, 45vw 27vh white, 86vw 68vh white, 4vw 28vh white, 69vw 74vh white, 53vw 6vh white, 37vw 26vh white, 73vw 41vh white, 78vw 67vh white, 94vw 79vh white, 30vw 84vh white, 31vw 2vh white, 54vw 72vh white, 5vw 61vh white, 86vw 77vh white, 2vw 15vh white, 71vw 15vh white, 77vw 93vh white, 97vw 87vh white, 63vw 8vh white, 76vw 37vh white, 49vw 37vh white, 84vw 52vh white, 93vw 78vh white, 98vw 60vh white, 85vw 89vh white, 7vw 8vh white, 57vw 28vh white, 76vw 91vh white, 63vw 56vh white, 81vw 19vh white, 36vw 85vh white, 88vw 87vh white, 62vw 34vh white, 33vw 1vh white, 54vw 1vh white, 73vw 29vh white, 35vw 26vh white, 76vw 80vh white, 38vw 83vh white, 50vw 82vh white, 31vw 43vh white, 26vw 36vh white, 100vw 54vh white, 37vw 15vh white, 69vw 79vh white, 31vw 42vh white, 11vw 15vh white, 50vw 48vh white, 38vw 35vh white, 36vw 72vh white, 46vw 5vh white, 35vw 32vh white, 98vw 37vh white, 73vw 18vh white, 79vw 27vh white, 84vw 3vh white, 65vw 5vh white, 98vw 78vh white, 11vw 97vh white, 99vw 70vh white, 54vw 65vh white, 74vw 100vh white, 76vw 35vh white, 32vw 11vh white, 62vw 40vh white, 89vw 1vh white, 35vw 29vh white, 75vw 83vh white, 48vw 6vh white, 20vw 55vh white, 45vw 72vh white, 90vw 41vh white, 30vw 11vh white, 100vw 45vh white, 57vw 77vh white, 14vw 13vh white, 83vw 56vh white, 43vw 91vh white, 91vw 47vh white, 8vw 87vh white, 17vw 53vh white, 69vw 33vh white, 53vw 100vh white, 24vw 12vh white, 84vw 52vh white, 58vw 14vh white;
    animation: parallax 33s linear infinite;
    border-radius: 50%;
  }
  .parallax-2:after {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    top: 100vh;
    box-shadow: 45vw 64vh white, 35vw 19vh white, 89vw 61vh white, 42vw 55vh white, 12vw 63vh white, 69vw 92vh white, 71vw 99vh white, 14vw 25vh white, 8vw 67vh white, 65vw 11vh white, 26vw 99vh white, 32vw 80vh white, 50vw 8vh white, 43vw 16vh white, 44vw 87vh white, 53vw 9vh white, 78vw 97vh white, 20vw 59vh white, 59vw 41vh white, 43vw 96vh white, 18vw 71vh white, 15vw 31vh white, 59vw 50vh white, 13vw 100vh white, 61vw 31vh white, 65vw 89vh white, 68vw 64vh white, 64vw 54vh white, 9vw 9vh white, 79vw 20vh white, 43vw 17vh white, 46vw 58vh white, 73vw 47vh white, 77vw 12vh white, 32vw 100vh white, 89vw 9vh white, 28vw 50vh white, 8vw 37vh white, 74vw 67vh white, 44vw 42vh white, 64vw 77vh white, 13vw 98vh white, 67vw 35vh white, 7vw 72vh white, 99vw 76vh white, 22vw 34vh white, 9vw 15vh white, 4vw 17vh white, 18vw 25vh white, 62vw 5vh white, 65vw 22vh white, 57vw 29vh white, 30vw 94vh white, 89vw 40vh white, 72vw 74vh white, 4vw 90vh white, 6vw 99vh white, 52vw 55vh white, 45vw 80vh white, 12vw 4vh white, 47vw 38vh white, 28vw 42vh white, 43vw 71vh white, 43vw 34vh white, 49vw 20vh white, 76vw 49vh white, 78vw 34vh white, 50vw 50vh white, 69vw 41vh white, 21vw 5vh white, 20vw 64vh white, 3vw 86vh white, 84vw 81vh white, 11vw 9vh white, 26vw 41vh white, 45vw 90vh white, 58vw 92vh white, 65vw 73vh white, 46vw 42vh white, 54vw 1vh white, 13vw 95vh white, 1vw 65vh white, 89vw 67vh white, 21vw 28vh white, 81vw 35vh white, 34vw 68vh white, 48vw 18vh white, 71vw 90vh white, 78vw 23vh white, 77vw 86vh white, 86vw 17vh white, 24vw 62vh white, 20vw 21vh white, 74vw 66vh white, 83vw 95vh white, 88vw 35vh white, 80vw 29vh white, 61vw 91vh white, 42vw 57vh white, 16vw 9vh white, 78vw 20vh white, 98vw 86vh white, 2vw 70vh white, 1vw 65vh white, 50vw 42vh white, 60vw 65vh white, 17vw 93vh white, 54vw 1vh white, 50vw 53vh white, 26vw 86vh white, 85vw 43vh white, 16vw 33vh white, 33vw 18vh white, 25vw 72vh white, 68vw 86vh white, 45vw 27vh white, 86vw 68vh white, 4vw 28vh white, 69vw 74vh white, 53vw 6vh white, 37vw 26vh white, 73vw 41vh white, 78vw 67vh white, 94vw 79vh white, 30vw 84vh white, 31vw 2vh white, 54vw 72vh white, 5vw 61vh white, 86vw 77vh white, 2vw 15vh white, 71vw 15vh white, 77vw 93vh white, 97vw 87vh white, 63vw 8vh white, 76vw 37vh white, 49vw 37vh white, 84vw 52vh white, 93vw 78vh white, 98vw 60vh white, 85vw 89vh white, 7vw 8vh white, 57vw 28vh white, 76vw 91vh white, 63vw 56vh white, 81vw 19vh white, 36vw 85vh white, 88vw 87vh white, 62vw 34vh white, 33vw 1vh white, 54vw 1vh white, 73vw 29vh white, 35vw 26vh white, 76vw 80vh white, 38vw 83vh white, 50vw 82vh white, 31vw 43vh white, 26vw 36vh white, 100vw 54vh white, 37vw 15vh white, 69vw 79vh white, 31vw 42vh white, 11vw 15vh white, 50vw 48vh white, 38vw 35vh white, 36vw 72vh white, 46vw 5vh white, 35vw 32vh white, 98vw 37vh white, 73vw 18vh white, 79vw 27vh white, 84vw 3vh white, 65vw 5vh white, 98vw 78vh white, 11vw 97vh white, 99vw 70vh white, 54vw 65vh white, 74vw 100vh white, 76vw 35vh white, 32vw 11vh white, 62vw 40vh white, 89vw 1vh white, 35vw 29vh white, 75vw 83vh white, 48vw 6vh white, 20vw 55vh white, 45vw 72vh white, 90vw 41vh white, 30vw 11vh white, 100vw 45vh white, 57vw 77vh white, 14vw 13vh white, 83vw 56vh white, 43vw 91vh white, 91vw 47vh white, 8vw 87vh white, 17vw 53vh white, 69vw 33vh white, 53vw 100vh white, 24vw 12vh white, 84vw 52vh white, 58vw 14vh white;
    border-radius: 50%;
  }
}

.parallax-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: transparent;
  pointer-events: none;
  box-shadow: 1vw 98vh white, 20vw 87vh white, 13vw 53vh white, 28vw 15vh white, 68vw 70vh white, 33vw 79vh white;
  animation: parallax 75 linear infinite;
  border-radius: 50%;
}

.parallax-3:after {
  content: " ";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 100vh;
  box-shadow: 1vw 98vh white, 20vw 87vh white, 13vw 53vh white, 28vw 15vh white, 68vw 70vh white, 33vw 79vh white;
  border-radius: 50%;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .parallax-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background: transparent;
    pointer-events: none;
    box-shadow: 68vw 18vh white, 45vw 40vh white, 98vw 35vh white, 90vw 35vh white, 21vw 46vh white, 80vw 10vh white, 52vw 59vh white, 27vw 38vh white, 8vw 68vh white, 6vw 49vh white, 34vw 17vh white, 43vw 17vh white, 50vw 27vh white, 19vw 66vh white, 94vw 22vh white, 12vw 40vh white, 50vw 67vh white, 92vw 59vh white, 2vw 79vh white, 22vw 25vh white, 65vw 69vh white, 57vw 73vh white, 51vw 74vh white, 29vw 13vh white, 66vw 2vh white, 83vw 92vh white, 8vw 20vh white, 22vw 59vh white, 67vw 48vh white, 59vw 23vh white, 57vw 56vh white, 81vw 94vh white, 87vw 4vh white, 64vw 55vh white, 34vw 32vh white, 68vw 100vh white, 35vw 31vh white, 71vw 4vh white, 84vw 5vh white, 98vw 50vh white, 75vw 51vh white, 3vw 55vh white, 85vw 88vh white, 25vw 17vh white, 24vw 65vh white, 52vw 78vh white, 62vw 5vh white, 4vw 38vh white, 55vw 45vh white, 72vw 34vh white, 97vw 72vh white;
    animation: parallax 75 linear infinite;
    border-radius: 50%;
  }
  .parallax-3:after {
    content: " ";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 100vh;
    box-shadow: 68vw 18vh white, 45vw 40vh white, 98vw 35vh white, 90vw 35vh white, 21vw 46vh white, 80vw 10vh white, 52vw 59vh white, 27vw 38vh white, 8vw 68vh white, 6vw 49vh white, 34vw 17vh white, 43vw 17vh white, 50vw 27vh white, 19vw 66vh white, 94vw 22vh white, 12vw 40vh white, 50vw 67vh white, 92vw 59vh white, 2vw 79vh white, 22vw 25vh white, 65vw 69vh white, 57vw 73vh white, 51vw 74vh white, 29vw 13vh white, 66vw 2vh white, 83vw 92vh white, 8vw 20vh white, 22vw 59vh white, 67vw 48vh white, 59vw 23vh white, 57vw 56vh white, 81vw 94vh white, 87vw 4vh white, 64vw 55vh white, 34vw 32vh white, 68vw 100vh white, 35vw 31vh white, 71vw 4vh white, 84vw 5vh white, 98vw 50vh white, 75vw 51vh white, 3vw 55vh white, 85vw 88vh white, 25vw 17vh white, 24vw 65vh white, 52vw 78vh white, 62vw 5vh white, 4vw 38vh white, 55vw 45vh white, 72vw 34vh white, 97vw 72vh white;
    border-radius: 50%;
  }
}

.indicators {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.indicators div {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: red;
}

@media screen and (min-width: 0px) and (max-width: 519px) and (orientation: portrait) {
  .indicators .mps {
    background: green;
  }
}

@media screen and (min-width: 520px) and (max-width: 959px) and (orientation: portrait) {
  .indicators .mpm {
    background: green;
  }
}

@media screen and (min-height: 0px) and (max-height: 499px) and (orientation: landscape) {
  .indicators .mls {
    background: green;
  }
}

@media screen and (min-height: 500px) and (max-width: 959px) and (orientation: landscape) {
  .indicators .mlm {
    background: green;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) and (min-height: 600px) and (orientation: landscape) {
  .indicators .ds {
    background: green;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) and (orientation: landscape) {
  .indicators .dm {
    background: green;
  }
}

@media screen and (min-width: 1600px) and (orientation: landscape) {
  .indicators .dl {
    background: green;
  }
}

/*# sourceMappingURL=main.css.map */
