body {
	background: $background-full;
	background: url('/assets/img/main.png') repeat;
	overflow: hidden;
	@include montserrat();
}

.main-contents {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@include flex(column);
	color: $white;
	text-shadow: 0px 0px 5px $black;
}
