@keyframes flight-path {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(180deg);
  }
}
@keyframes rocket {
  0%, 35% {
	transform: translateY(0) scale(1);
  }
  36% {
	transform: scaleY(-1);
	bottom: 40%;
  }
  100% {
	  top: -50px;
	  bottom: auto;
	  transform: scaleY(-1);
  }
}
body {
	transform-origin: 50% 50%;
}
.rocket {
	position: absolute;
	bottom: 0;
	left: 100px;
	top: -50px;
	right: 100px;
	opacity: 0.6;
	animation: flight-path;
	animation-duration: 60s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
	img {
		max-width: 200px;
		max-height: 200px;
		position: absolute;
		bottom: -50px;
		animation: rocket;
		animation-duration: 60s;
		animation-fill-mode: forwards;
		animation-delay: 4s;
	}
}
.upload-form {
	.input-button {
		position: absolute;
		top: -9999px;
		left: -9999px;
		visibility: hidden;
	}
	.container-fluid {
		&.hover-initial {
			transform: scale(1.1)!important;
		}
		&.hover, &:hover {
			opacity: 1;
			transform: scale(1.01);
		}
		&:hover {
			cursor: pointer;
		}
		&.drop {
			opacity: 1;
			span, h2, small {
				display: none;
			}
		}
		transition: all 0.3s linear;
		@include flex-center-all(column);
		padding: 50px;
		background: url('/assets/img/container.png') repeat;
		border-radius: 2.5em;
		min-height: 300px;
		max-height: 90%;
		opacity: 0.8;
		span.upload-icon {
			transition: all 0.3s linear;
			font-size: 20em;
			opacity: 0.8;
		}
		span.upload-label {
			@include montserrat(bold);
		}
		> * {
			pointer-events: none;
		}
	}
}
