
.upload-form {
	.input-button {
		position: absolute;
		top: -9999px;
		left: -9999px;
		visibility: hidden;
	}
	.container{
		@include flex-center-all(column);
		background: $background-60;
		border-radius: 2.5em;
		min-height: 300px;
		height: 70%;
		border: 1px solid $accent;
		span.upload-icon {
			font-size: 20em;
			opacity: 0.6;
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
		span.upload-label {
			@include montserrat(bold);
		}
	}
}
