
.upload-form {
	.input-button {
		position: absolute;
		top: -9999px;
		left: -9999px;
		visibility: hidden;
	}
	.container-fluid {
		&.hover-initial {
			transform: scale(1.1)!important;
		}
		&.hover {
			opacity: 1;
			transform: scale(1.01);
		}
		&.drop {
			opacity: 1;
			span, h2, small {
				display: none;
			}
		}
		transition: all 0.3s linear;
		@include flex-center-all(column);
		padding: 50px;
		background: $background-60;
		background: url('/assets/img/container.png') repeat;
		border-radius: 2.5em;
		min-height: 300px;
		max-height: 90%;
		opacity: 0.8;
		span.upload-icon {
			transition: all 0.3s linear;
			font-size: 20em;
			opacity: 0.8;
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
		span.upload-label {
			@include montserrat(bold);
		}
		> * {
			pointer-events: none;
		}
	}
}
