/* Coolors Exported Palette - coolors.co/190005-7a0f06-70798c-f5f1ed-dad2bc */


/* RGB */
$background: rgba(25, 0, 5, 1);
$accent: rgba(122, 15, 6, 1);
$muted: rgba(112, 121, 140, 1);
$light-1: rgba(245, 241, 237, 1);
$light-2: rgba(218, 210, 188, 1);
