/* Coolors Exported Palette - coolors.co/190005-7a0f06-70798c-f5f1ed-dad2bc */
$background-full: rgba(25, 0, 5, 1);
$background-60: rgba(25, 0, 5, 0.6);
$accent: rgba(122, 15, 6, 1);
$muted: rgba(112, 121, 140, 1);
$light-1: rgba(245, 241, 237, 1);
$light-2: rgba(218, 210, 188, 1);
$white: #FFF;
$black: #000;
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);

/* Animation */

$bounce: cubic-bezier(.27,1.91,.62,.87);
$takeoff: cubic-bezier(1,-0.29,.83,.67);

/* Font Family */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Flex stretch mix-ins */
@mixin flex-center-all($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}
@mixin montserrat($weight: normal){
	font-family: 'Montserrat', sans-serif;
	font-weight: $weight;
}
@mixin rocket-animation(){
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-delay: 4s;
	animation-direction: alternate;
}
@keyframes flight-path {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(180deg);
  }
}
@keyframes rocket {
  0%, 35% {
	transform: translateY(0) scale(1);
  }
  36% {
	transform: scaleY(-1);
	bottom: 40%;
  }
  100% {
	  top: -50px;
	  bottom: auto;
	  transform: scaleY(-1);
  }
}
@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}
